@media screen and (max-width: 560px) {

  .aside {
    display: none;
  }

  .aside-mobile {
    display: flex;
  }

  .main-wrapper {
    width: calc(100% - 60px);
    height: calc(100vh - 90px);
    background-color: var(--primary-bg-color);
    overflow: auto;
    padding-top: 120px;
  }

  header {
    position: fixed;
    top: 0;
    left: 60px;
    z-index: 998;
    width: calc(100% - 60px);
    justify-content: end;
    height: 90px;
    background-color: rgba(0, 0, 0, .6);
  }
}