/********************  RESET GENERALI  ********************/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
}

img {
  max-width: 100%;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

h2,
h3 {
  color: #fff;
  font-weight: 800;
}

span {
  color: #797B7F;
  font-size: .7rem;
  font-weight: 600;
}

/********************  UTILITY  ********************/

/***************  DEBUG  ***************/

.debug-1 {
  background-color: rgba(255, 0, 0, .25);
  border: 1px solid red;
}

.debug-2 {
  background-color: rgba(0, 255, 0, .25);
  border: 1px solid greenyellow;
}

.debug-3 {
  background-color: rgba(0, 0, 255, .25);
  border: 1px solid aqua;
}

/***************  FLEX  ***************/

.d-flex {
  display: flex;
}

.f-wrap {
  flex-wrap: wrap;
}

.align-c {
  align-items: center;
}

.j-between {
  justify-content: space-between;
}

.j-center {
  justify-content: center;
}

/********************  TESTO - FORMATTAZIONE  ********************/

.text-c {
  text-align: center;
}

.text-ju {
  text-align: justify;
}

/***************  PADDING  ***************/

.pad-0_5 {
  padding: .5rem;
}

.pad-1 {
  padding: 1rem;
}

.pad-1_5 {
  padding: 1.5rem;
}

.pad-2 {
  padding: 2rem;
}

.pad-2_5 {
  padding: 2.5rem;
}

.pad-3 {
  padding: 3rem;
}

/***************  MARGIN  ***************/

.m-bottom-0_5 {
  margin-bottom: .5rem;
}

.m-bottom-1 {
  margin-bottom: 1rem;
}

.m-bottom-1_5 {
  margin-bottom: 1.5rem;
}

.m-bottom-2 {
  margin-bottom: 2rem;
}

.m-bottom-2_5 {
  margin-bottom: 2.5rem;
}

.m-bottom-3 {
  margin-bottom: 3rem;
}


/********************  COMPONENTS  ********************/

.main-container {
  margin-top: 100px;
  /*stessi PX di .header*/
}

/********************  BUTTON  ********************/

.btn {
  border: 2px solid #797B7F;
  border-radius: 50px;
  padding: 10px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
}

.btn:hover {
  border: 2px solid #fff;
  scale: 1.1;
}

/********************  MAIN-WRAPPER  ********************/

.main-wrapper {
  width: 100%;
  height: calc(100vh - 90px);
  background-color: #141922;
}

.col {
  width: 230px;
  flex-shrink: 0;
  height: 100%;
  color: #fff;
  background-color: #000;
  position: relative;
}

.col-2 {
  width: calc(100% - 230px);
  overflow: auto;

}

/********************  SIDEBAR  ********************/

.sidebar img {
  width: 75%;
  max-height: 90px;
}

.sidebar-menu {
  max-height: 120px;
}

.sidebar-menu li span {
  color: #797B7F;
  font-size: .8rem;
  font-weight: 600;
}

.sidebar-menu li img {
  filter: invert(53%) sepia(7%) saturate(193%) hue-rotate(182deg) brightness(90%) contrast(91%);
}

.sidebar-menu li img,
.bottom-sidebar .top img {
  display: inline-block;
  width: 2rem;
  vertical-align: middle;
  padding-right: 5px;
}

.sidebar-menu li {
  position: relative;
}

.sidebar-menu li:hover span,
.sidebar-menu li:hover img {
  color: #fff;
  filter: unset;
}

.sidebar-menu ul li:first-child::after {
  display: block;
  content: '';
  position: absolute;
  left: -22px;
  top: 15px;
  background-color: #00ff00;
  height: 36px;
  width: 3px;
  transform: translate(-50%, -50%);
  border-radius: 3px;
}

.playlist-menu {
  height: calc(100vh - 531px);
  /*somma altezze sidebar nel 100%*/
}

.playlist h3 {
  font-size: 1rem;
  text-transform: uppercase;
}



.playlist .create-playlist .square span,
i {
  font-size: .9rem;
  color: #797B7F;
  font-weight: 700;
}

.playlist .create-playlist .square i {
  font-size: 2rem;
  margin-right: 5px;
}


.playlist-menu li:hover span {
  color: #fff;
}

.playlist .create-playlist .square:hover span,
.playlist .create-playlist .square:hover i {
  color: #fff;
}

.top span:hover {
  color: #fff;
}

.bottom-sidebar {
  position: fixed;
  z-index: 997;
  bottom: 90px;
  left: 0;
  padding-bottom: 10px;
  width: 230px;
  background-color: #000;
}

.bottom-sidebar .top {
  padding-bottom: .5rem;
  border-bottom: 1px solid grey;
}

.bottom-sidebar .top img {
  width: 1.5rem;
}

.bottom-sidebar .bottom img {
  background-color: grey;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  padding: 3px;
  margin-right: 10px;
}


/*********  HEADER  *********/

.header {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 998;
  width: calc(100% - 230px);
  color: white;
  background-color: rgba(0, 0, 0, .7);
  height: 90px;
  justify-content: end;
  padding-right: 20px;
}

.btn a {
  color: #797B7F;
  text-transform: uppercase;
  font-weight: 600;
}

.btn:hover a {
  color: #fff;
}

/*********  MENU LISTA  *********/

.main-menu .lista {
  width: 85%;
  margin: 0 auto;
}

.main-menu .lista ul li {
  padding: 0 15px;
  color: #797B7F;
  font-size: .8rem;
  font-weight: 600;
  text-transform: uppercase;
  position: relative;
}

.main-menu .lista ul li:hover {
  color: #fff;
}

.main-menu .lista ul li:first-child::after {
  display: block;
  content: '';
  position: absolute;
  left: 50%;
  bottom: -10px;
  background-color: #00ff00;
  height: 3px;
  width: 35px;
  transform: translate(-50%, -50%);
  border-radius: 3px;
}


/*********  ROW  *********/

.row h2 {
  color: #fff;
  font-weight: 800;
}

.row span {
  padding-bottom: 1.5rem;
}

.row .box {
  padding-top: .9rem;
}

.card {
  width: calc(100% / 6);
  text-align: center;
}


.card .card-text h3 {
  font-size: .7rem;
  margin-bottom: .5rem;
}

.card img.circle {
  clip-path: circle(50%);
}

.card-imgage {
  position: relative;
}

.card-imgage i {
  display: none;
  position: absolute;
  font-size: 3rem;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #EFF0F0;
}

.card-imgage:hover img {
  filter: brightness(50%);
}

.card-imgage:hover i {
  display: block;
}

/********************  FOOTER  ********************/

footer {
  width: 100%;
  background-color: #252425;
  height: 90px;
}

.footer-left,
.footer-center,
.footer-right {
  height: 100%;
}

/*********  F_LEFT  *********/
.footer-left {
  width: 250px;
  min-width: 140px;
}

.col-song {
  width: 70%;
}

.col-song img {
  width: 60px;
  margin-right: 10px;
}

.col-song .col-song-text h5 {
  color: #fff;
  font-size: .9rem;
  font-weight: 800;
}

.col-song .col-song-text span:hover {
  text-decoration: underline;
}

.col-icon i {
  color: #797B7F;
  margin: 0 5px;
  font-size: 1.1rem;
}

.col-icon i:hover {
  color: #fff;
}


/*********  F_CENTER  *********/
.footer-center {
  flex-direction: column;
  width: calc(100% / 2);
  min-width: 200px;
}

.center-icons i {
  color: #797B7F;
  margin: 0 5px;
  font-size: 1.1rem;
}

.center-icons i:hover {
  color: #fff;
}

.center-icons i#up {
  font-size: 1.6rem;
}

.center-icons i#up:hover {
  transform: scale(1.2);
}

.box-bar {
  width: 100%;
}

.box-bar span {
  margin: 0 5px;
}

.box-bar .progression-bar {
  width: 90%;
  height: 5px;
  background-color: #797B7F;
  border-radius: 20px;
}

.box-bar .progression-bar .bar {
  display: none;
  width: 20%;
  height: 5px;
  background-color: #00ff00;
  border-radius: 20px;
  position: relative;
}

.progression-bar:hover .bar {
  display: block;
}


/*********  RIGHT  *********/

.footer-right {
  width: 200px;
}

.right-icons {
  flex-wrap: nowrap;
  width: 80px;
  color: #797B7F;
  font-size: 1rem;
}

.right-icons i {
  margin-right: 5px;
}

.right-icons i:hover {
  color: #fff;
}

.footer-right .progression-bar {
  width: 100px;
  height: 5px;
  background-color: #797B7F;
  border-radius: 20px;
}

.footer-right .bar {
  display: none;
  width: 30%;
  height: 5px;
  background-color: #00ff00;
  border-radius: 20px;
  position: relative;
}

.circle {
  position: absolute;
  left: 95%;
  top: -3px;
  width: 12px;
  height: 12px;
  background-color: #fff;
  border-radius: 50%;
}

.progression-bar:hover .bar {
  display: block;
}


/************************************/
/** RESPONSIVE **/
/************************************/


/**  MEDIUM  **/

@media screen and (max-width: 868px) {

  .main-menu .lista li {
    font-size: .8rem;
  }

  .card {
    width: calc(100% / 4);
  }

  /* .f-center_icon i {
    font-size: 1rem;
    padding: 5px 10px;
  } */
}



/**  SMALL  **/

@media screen and (max-width: 638px) {
  .card {
    width: calc(100% / 2);
  }
}



/**  X-SMALL  **/

@media screen and (max-width: 555px) {

  .main-menu .lista li {
    font-size: .6rem;
  }

  .col {
    width: 65px;
  }

  .col .sidebar {
    display: none;
  }

  .col-2 {
    width: calc(100% - 65px);
    margin: 0 auto;
  }

  .header {
    width: calc(100% - 65px);
    padding-right: 10px;
  }

  .btn {
    transform: scale(.8);
  }

  /* .f-left,
  .f-center,
  .f-right {
    width: calc(100% / 3);
  }

  .f-center_icon i {
    font-size: .7rem;
    padding: 5px 5px;
  } */


  /**  MENU  **/

  .sidebar-mb {
    flex-direction: column;
    padding: 20px 5px;
    height: 100%;
  }

  .bar-top,
  .bar-bottom {
    width: 60%;
  }

  .bar-top img {
    margin-bottom: .7rem;
  }

  .bar-top-menu img,
  .bar-bottom img {
    filter: invert(53%) sepia(7%) saturate(193%) hue-rotate(182deg) brightness(90%) contrast(91%);
  }

  .bar-top-menu img:hover {
    filter: unset;
  }

  .bar-bottom img.down {
    width: 85%;
  }

  .bar-bottom .bottom img {
    padding: 3px;
    background-color: #797B7F;
    border-radius: 50%;
    filter: unset;
  }

}