/********************  ASIDE  ********************/

.aside {
  flex-direction: column;
  width: 230px;
  height: calc(100vh - 90px);
  background-color: var(--secondary-bg-color);
  z-index: 998;
}

.aside .logo {
  height: 90px;
  width: 70%;
}

/* aside menu */

.menu-item.active-2 {
  border-left: 5px solid #00ff00;
}

.menu-item {
  border-left: 5px solid var(--secondary-bg-color);
}

.menu-item img {
  filter: invert(74%) sepia(0%) saturate(0%) hue-rotate(353deg) brightness(90%) contrast(86%);
  margin-right: 10px;
  width: 30px;
}

.menu-item span {
  color: var(--font-color-secondary);
  font-size: var(--font-size-1);
  font-weight: 600;
}

.menu-item:hover img,
.menu-item:hover span {
  filter: unset;
  color: var(--font-color-primary);
}

/* Playlist */

.playlist h3 {

  color: var(--font-color-primary);
  text-transform: uppercase;
}

/* playlist crea */

.playlist-crea i,
.playlist-crea span {
  color: var(--font-color-secondary);
}

.playlist-crea:hover i,
.playlist-crea:hover span {
  color: var(--font-color-primary);
}

.playlist-crea i {
  font-size: var(--font-size-2_5);
  margin-right: 10px;
}

.playlist-crea span {
  font-weight: 600;
  font-size: var(--font-size-0_9);
}

/* playlist elenco */

.playlist-list {
  height: calc(100vh - 550px);
  overflow: auto;
}

.playlist-list ul {
  margin: 10px 0;

}

.playlist-list ul li {
  color: var(--font-color-secondary);
  font-size: var(--font-size-0_9);
  font-weight: 600;
  padding: 8px 0;
}

.playlist-list ul li:hover {
  color: var(--font-color-primary);
}

/* aside bottom */

.aside-bottom .top img,
.aside-bottom .bottom img {
  width: 20px;
  margin-right: 10px;
}

.aside-bottom .top span {
  color: var(--font-color-secondary);
  font-size: var(--font-size-0_8);
  font-weight: 600;
}

.aside-bottom .top::after {
  content: '';
  display: inline-block;
  width: 100%;
  height: 1px;
  background-color: var(--font-color-secondary);
}

.aside-bottom .bottom img {
  padding: 2px;
  border-radius: 50%;
  background-color: var(--font-color-secondary);
}

.aside-bottom .bottom h3 {
  color: var(--font-color-primary);
  font-size: var(--font-size-0_9);
}

/********************  ASIDE MOBILE  ********************/

.aside-mobile {
  display: none;
  flex-direction: column;
  width: 60px;
  height: calc(100vh - 90px);
  background-color: var(--secondary-bg-color);
  z-index: 998;
}

.mb-top img {
  margin-bottom: 10px;
  filter: invert(74%) sepia(0%) saturate(0%) hue-rotate(353deg) brightness(90%) contrast(86%);
}

.mb-top img:hover {
  filter: unset;
}

#logo {
  filter: unset;
}

.mb-bottom {
  align-content: flex-end;
}

.mb-bottom img:first-child {
  width: 15px;
  margin-bottom: 15px;
}

.mb-bottom img#profile {
  padding: 3px;
  background-color: var(--font-color-secondary);
  border-radius: 50%;
}



/********************  MAIN  ********************/

.main-wrapper {
  width: calc(100% - 230px);
  height: calc(100vh - 90px);
  background-color: var(--primary-bg-color);
  overflow: auto;
  padding-top: 120px;
}

section {
  padding-top: 0;
  padding-bottom: 0;
}

/*****  Header  *****/

header {
  position: fixed;
  top: 0;
  left: 230px;
  z-index: 998;
  width: calc(100% - 230px);
  justify-content: end;
  height: 90px;
  background-color: rgba(0, 0, 0, .6);
}

header .btn {
  border: 1px solid var(--font-color-secondary);
  border-radius: 50px;
  padding: 10px 30px;
  margin-right: 50px;
  text-transform: uppercase;
  transition: all .1s;
}

header .btn:hover {
  transform: scale(1.2);
  border: 1px solid var(--font-color-primary);
}

header .btn:hover a {
  color: var(--font-color-primary);
}

header .btn a {
  color: var(--font-color-secondary);
  font-weight: 600;
}

/*****  Menu principale  *****/

.main-wrapper .menu ul li {
  position: relative;
  padding: 0 10px;
}

.main-wrapper .menu ul li a {
  color: var(--font-color-secondary);
  font-size: var(--font-size-0_9);
  font-weight: 600;
  text-transform: uppercase;
}

/* .main-wrapper .menu ul li:hover */
.active::after {
  content: '';
  background-color: #00ff00;
  width: 35%;
  height: 3px;
  border-radius: 10px;
  position: absolute;
  left: 50%;
  bottom: -10px;
  transform: translate(-50%, -50%);
}

.main-wrapper .menu ul li:hover a {
  color: var(--font-color-primary);
}

/*****  Prima section  *****/

/* Titolo section */
section .section-title {
  color: var(--font-color-primary);
  font-weight: 800;
  font-size: var(--font-size-2);
}

/* Sub-Titolo section */
section .section-sub-title {
  color: var(--font-color-secondary);
  font-weight: 600;
  font-size: var(--font-size-0_8);
}


/* Riga card */
.box {
  width: calc(100% / 6);
}

.card-image {
  position: relative;
  width: 100%;
}

.rounded {
  clip-path: circle(50%);
}

/* box hover con play centrato */
.box-hover {
  opacity: 0;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .4);
}

.box-hover:hover {
  opacity: 1;
}

.box-hover i {
  color: var(--font-color-primary);
  font-size: var(--font-size-4);
}

.artist {
  font-weight: 600;
  color: var(--font-color-primary);
  font-size: var(--font-size-0_9);
}

.sub-title {
  font-size: var(--font-size-0_7);
  font-weight: 600;
  color: var(--font-color-secondary);
}

/* TERZA SECTION */

section.secondary .card-text .artist,
section.tertiary .card-text .artist {
  font-size: var(--font-size-0_8);
  font-weight: 600;

}


/********************  FOOTER  ********************/

footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 999;
  height: 90px;
  background-color: var(--tertiary-bg-color);
  padding: 0 10px;
}

footer span {
  font-size: var(--font-size-0_8);
  color: var(--font-color-secondary);
  font-weight: 600;
}

.footer-left,
.footer-center,
.footer-right {
  height: 100%;
}

/*********  F_LEFT  *********/
.footer-left {
  width: 250px;
  min-width: 147px;
}

.col-song {
  width: 70%;
  min-width: 125px;
}

.col-icon {
  width: 30%;
}

.col-song img {
  width: 55px;
  margin-right: 10px;
}

.col-song .col-song-text h5 {
  color: #fff;
  font-size: .9rem;
  font-weight: 800;
}

.col-song .col-song-text span:hover {
  text-decoration: underline;
}

.col-icon i {
  color: #797B7F;
  margin: 0 5px;
  font-size: 1.1rem;
}

.col-icon i:hover {
  color: #fff;
}


/*********  F_CENTER  *********/
.footer-center {
  flex-direction: column;
  width: calc(100% / 2);
  min-width: 200px;
}

.center-icons i {
  color: #797B7F;
  margin: 0 5px;
  font-size: 1.1rem;
}

.center-icons i:hover {
  color: #fff;
}

.center-icons i#up {
  font-size: 1.6rem;
}

.center-icons i#up:hover {
  transform: scale(1.2);
}

.box-bar {
  width: 100%;
}

.box-bar span {
  margin: 0 5px;
}

.box-bar .progression-bar {
  width: 90%;
  height: 5px;
  background-color: #797B7F;
  border-radius: 20px;
}

.box-bar .progression-bar .bar {
  display: none;
  width: 20%;
  height: 5px;
  background-color: #00ff00;
  border-radius: 20px;
  position: relative;
}

.progression-bar:hover .bar {
  display: block;
}


/*********  RIGHT  *********/

.footer-right {
  width: 200px;
}

.right-icons {
  flex-wrap: nowrap;
  width: 80px;
  color: #797B7F;
  font-size: 1rem;
}

.right-icons i {
  margin-right: 5px;
}

.right-icons i:hover {
  color: #fff;
}

.footer-right .progression-bar {
  width: 100px;
  height: 5px;
  background-color: #797B7F;
  border-radius: 20px;
}

.footer-right .bar {
  display: none;
  width: 30%;
  height: 5px;
  background-color: #00ff00;
  border-radius: 20px;
  position: relative;
}

.circle {
  position: absolute;
  left: 95%;
  top: -3px;
  width: 12px;
  height: 12px;
  background-color: #fff;
  border-radius: 50%;
}

.progression-bar:hover .bar {
  display: block;
}